# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.py]
indent_size = 4

[*.{ps1,bat}]
end_of_line = crlf

[*.md]
# Markdownでは末尾スペース2つが改行を意味するため、勝手に削除されないようにする
trim_trailing_whitespace = false